doctype html
html(lang='en')
  head
    title=title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title 2 Col Portfolio - Start Bootstrap Template
    // Bootstrap Core CSS
    link(href='/portfolio/css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='/portfolio/css/2-col-portfolio.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    // Navigation
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') BlueGame
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='#') Your Favourites
        // /.navbar-collapse
      // /.container
    // Page Content
    .container
      // Page Header
      .row
        .col-lg-12
          h1.page-header
            | Trending Now
      // /.row
      // Projects Row
      .row
        .col-md-6.portfolio-item
          a(href='/user/hetrix')
            img.img-responsive(src='http://www.spygear-gadgets.com/lib/029/526-how-to-3-how-to-play-games-on-pc-using-xbox-one-controller.jpg', alt='', width='700',height='400')
          h3
            a(href='/user/hetrix') Hetrix
          p
            | Cool game of hexagon
        .col-md-6.portfolio-item
          a(href='/user/thepond')
            //iframe(src='http://www.w3schools.com' width='700' height='400')
            img.img-responsive(src='http://www.spygear-gadgets.com/lib/029/526-how-to-3-how-to-play-games-on-pc-using-xbox-one-controller.jpg', alt='', width='700',height='400')
          h3
            a(href='/user/thepond') The Pond
          p
            | Cool game to eat other oraganisems
      
      // /.row
      // Projects Row
      .row
        .col-md-6.portfolio-item
         a(href='/user/ludum-dare-27')
          //iframe(src='http://www.w3schools.com' width='700' height='400')
          img.img-responsive(src='http://www.spygear-gadgets.com/lib/029/526-how-to-3-how-to-play-games-on-pc-using-xbox-one-controller.jpg', alt='', width='700',height='400')
         h3
           a(href='/user/ludum-dare-27') ludum-dare-27
         p
            | Game to jump and learn
        .col-md-6.portfolio-item
           a(href='/user/astray')
              //iframe(src='http://www.w3schools.com' width='700' height='400')
              img.img-responsive(src='http://www.spygear-gadgets.com/lib/029/526-how-to-3-how-to-play-games-on-pc-using-xbox-one-controller.jpg', alt='', width='700',height='400')
          h3
            a(href='/user/astray') Astray
          p
         | A WebGL maze game built with Three.js and Box2dWeb
      // /.row
      // Projects Row
      .row
        .col-md-6.portfolio-item
          a(href='/user/branches')
          img.img-responsive(src='http://www.spygear-gadgets.com/lib/029/526-how-to-3-how-to-play-games-on-pc-using-xbox-one-controller.jpg', alt='', width='700',height='400')
          h3
            a(href='/user/branches') Branches
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
        .col-md-6.portfolio-item
          a(href='/user/pakia')
          img.img-responsive(src='http://www.spygear-gadgets.com/lib/029/526-how-to-3-how-to-play-games-on-pc-using-xbox-one-controller.jpg', alt='', width='700',height='400')
          h3
            a(href='/user/pakia') Pakia
          p
            | Fly with the bird!!!
      // /.row

      // Footer
      footer
        .row
          .col-lg-12
            p Copyright © Your Website 2014
        // /.row
    // /.container
    // jQuery
    script(src='/portfolio/js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='/portfolio/js/bootstrap.min.js')
